<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Gold" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gold
            </a>
           
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Steel" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Steel
            </a>
            
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Wood" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wood
            </a>
           
        </li>
<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
        </div>
    </li>
       
    </ul>
</div>

